@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: gray;
}

.foto {
  width: 300px;
  height: 300px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  div.contentblock {
    width: 1200px;
  }
}
@media screen and (max-width: 1140px) {
  div.contentblock {
    width: 1024px;
  }
}
@media screen and (max-width: 992px) {
  div. contentblock {
    width: 970px;
  }
}
/* «Источник: https://siteclinic.ru/blog/technical-aspects/3-sposoba-bystro-adaptirovat-sayt/» */

.info-text {
  margin-left: 20px;
  margin-right: 20px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: #86898f;
  margin: 0;
  font-size: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: none; */
  /* letter-spacing: 5px; */
  /* word-spacing: 42px; */
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* .social {
  background: green;
  padding: 15px;
  border: 5px solid red;
  margin: 20px;
  border: 5px solid red;
  border-bottom-style: dotted;
  border-top-width: 15px;
} */

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.contacts {
  padding: 0 20px;
}

.contacts li {
  color: #86898f;
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
  /* border-bottom: 1px solid grey; */
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}

.feedback {
  background: #f0ffff;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: transparent; */
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
